$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 920px;
$background-color: rgb(115,115,115);
/*$background-color: rgb(235,235,235);*/

.container {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  padding: 0;
  @media (min-width: $screen-sm) {
    /*padding: 0px 10px 10px 10px; */
  }
  @media (min-width: $screen-md) {
    /*padding: 0px 20px 20px 20px;  */
  }
  @media (min-width: $screen-lg) {
    width: 920px;
    /*padding-bottom: 20px;*/
  }
}

body {
    /*background-color: #656565;*/
    /*background-color: rgb(245,245,245);*/
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif;
}

/*header stuff*/
$colors: (
  #feda3e
);
$color: nth($colors, random(length($colors)));

.header {
  height: 350px;
  background: radial-gradient(ellipse at center, $color 0%, darken($color, 50%) 100%);
  overflow: hidden;
  position: relative;
} 

.section-title {
  background-color: #FFD700;
  margin: 20px 0 15px 0;
  text-align: center;
}

.cultive-panel {
  padding: 40px 0 80px 0;
  background-color: $background-color
}

#header-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  h1 {
    font-family: Futura;
    font-size: 95px;
    letter-spacing: 20px;
  }
}

.offerings {
  
  h1 {
    text-align: center;
  }

  .offering-icon {
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .offering-label {
    display: flex;
    justify-content: center;

    h4 {
      text-align: center;
      color: white;
      background-color: $background-color;
      border-left: 5px solid #FFD700;
      padding-left: 5px;
    }
  }

  .offerings-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .offering {
    padding: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVQIW2P8f53hP6MmAyMDAwOEgAEUDgBtyQMEgZ9OmQAAAABJRU5ErkJggg==);
  
    @media (min-width: 1px) {
      margin: 10px 10px;
    }
    @media (min-width: $screen-md) {
      margin: 0 10px;
    }
  }

}

.about {
  .paragraph-container {
    margin-left: auto;
    margin-right: auto;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVQIW2P8f53hP6MmAyMDAwOEgAEUDgBtyQMEgZ9OmQAAAABJRU5ErkJggg==);
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2Nk2Pn8P4O7JCMDAwMDmIABFA4AavEDBMpi0gQAAAAASUVORK5CYII=);*/
    padding: 20px;
    color: white;

    .paragraph-header {
      display: inline-block;
      background-color: $background-color;
      border-left: 5px solid #FFD700;
      padding-left: 5px;
    }

    .paragraph-body {
      display: inline-block;
      background-color: $background-color;
      border-left: 5px solid #FFD700;
      padding-left: 5px;
    }

    @media (min-width: $screen-sm) {
      width: 80%;
    }
    @media (min-width: $screen-md) {
      width: 600px;
    }
  }
}

.reviews {
  .review {
    color: white;
    padding: 20px;
    margin: 0 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVQIW2P8f53hP6MmAyMDAwOEgAEUDgBtyQMEgZ9OmQAAAABJRU5ErkJggg==);
  
    @media (min-width: 1px) {
      margin: 10px 10px;
    }
    @media (min-width: $screen-md) {
      margin: 0 10px;
    }
  }

  .quote {
    background-color: $background-color;
    border-left: 5px solid #FFD700;
    padding-left: 5px;
  }

  .quote-author {
    color: black;
    font-style: italic;
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
    background-color: $background-color;
    border-left: 5px solid #FFD700;
    padding-left: 5px;

    p {
      margin: 0;
    }
  }
}

.footer {
  .footer-text, a {
    text-align: center;

    strong {
      color: white;
      margin-bottom: 5px;
    }
  }

  a {
    color: #A5F2F3;
  }

  .social-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
}

/*#cc6698,
  #0869ad,
  #ff8300,
  #7A86b8,
  #f05133,
  #2aa9e0,
  #71bf45,
  #ef0e39,
  #9e79d7,*/
  /*other color choices besides yellow*/




