<div class="about cultive-panel">
  
  <div class="row">
    <div class="col-xs-12">
      <h1 class="section-title">
        ABOUT
      </h1>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12">
      <div class="paragraph-container">
        
        <h2 class="paragraph-header">
          We make digital solutions
        </h2>
        
        <p class="paragraph-body">
          Cultive is a full-stack tech consultancy. We provide a full suite of services to bring your product from a hazy idea to a polished, deployed product. From digital strategy, to design, to development, to project management and everything in between, we've got you covered.
        </p>

        <h2 class="paragraph-header">
          We also make meaningful connections
        </h2>
        
        <p class="paragraph-body">
          Software is about people and we pride ourselves on not only building great software, but also building great relationships. We know that one of the best tools is good communication and we use it often.
        </p>

      </div>
    </div>

  </div>
</div>
