<div class="about cultive-panel">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="section-title">
        ABOUT
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-3">
      <h3>Engineering First</h3>
      <p>There are a lot of consulting firms out there, but not everyone is focused on the tech like we are. We take pride in producing clean, maintainable, tested code that's a breeze for you to pick up where we leave off.</p>
    </div>

    <div class="col-sm-12 col-md-9">
      about us image
    </div>
  </div>
</div>