<div class="footer cultive-panel">

  <div class="row">
    <div class="col-xs-12">
      
      <div class="footer-text">
        <strong>Find us online or in Seattle!</strong>
      </div>

      <div class='footer-text'>
        <a href="mailto:hello@cultive.io">
          hello@cultive.io
        </a>
      </div>

    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="social-container">
        
        <a href="https://www.linkedin.com/company/15182401">
          <img class='social-icon' src="/assets/social-linkedin.svg" alt="">
        </a>
          
        <a href="https://www.facebook.com/cultivestudios/">
          <img class='social-icon' src="/assets/social-fb.svg" alt="">
        </a>
          
        <a href="https://twitter.com/CultiveStudios">
          <img class='social-icon' src="/assets/social-twitter.svg" alt="">
        </a>
          

      </div>
    </div>
  </div>

</div>