<div class="footer cultive-panel">

  <div class="row">
    <div class="col-xs-12">
      
      <div class="footer-text">
        <strong>Find us online or in Seattle!</strong>
      </div>

      <div class='footer-text'>
        <a href="mailto:hello@cultive.io">
          hello@cultive.io
        </a>
      </div>

    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="social-container">
        
        <div class="social-icon">
          fb
        </div>

        <div class="social-icon">
          linked
        </div>

        <div class="social-icon">
          twitter
        </div>

      </div>
    </div>
  </div>

</div>