<div class="offerings cultive-panel">
  
  <div class="row">
    <div class="col-xs-12">
      <h1 class='section-title'>OFFERINGS</h1>
    </div>  
  </div>
  
  <div class="row">

      <div class="col-sm-4 col-xs-12">
        <div class='offering'>
          <img class='offering-icon' src="/assets/browser.svg" alt="">
          <div class="offering-label">
            <h4>Application Development</h4>  
          </div>
        </div>
      </div>
      
      <div class="col-sm-4 col-xs-12">
        <div class='offering'>
          <img class='offering-icon' src="/assets/rgb.svg" alt="">
          <div class="offering-label">
            <h4>Design & UX</h4>  
          </div>
        </div>
      </div>
      
      <div class="col-sm-4 col-xs-12">
        <div class='offering'>
          <img class='offering-icon' src="/assets/diagram.svg" alt="">
          <div class="offering-label">
            <h4>Project Management</h4>  
          </div>
        </div>
      </div>

  </div>
      
</div>